In [1]:
import numpy as np
import pandas as pd

In [2]:
data1=pd.read_csv("deliveries.csv")

In [3]:
match=pd.read_csv("matches.csv")

In [4]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [5]:
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [6]:
total_score=data1.groupby(["match_id","inning"])["total_runs"].sum().reset_index()
total_score

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1279       634       2         140
1280       635       1         162
1281       635       2         163
1282       636       1         208
1283       636       2         200

[1284 rows x 3 columns]

In [7]:
total_score=total_score[total_score["inning"]==1]
total_score

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1274       632       1         138
1276       633       1         158
1278       634       1         162
1280       635       1         162
1282       636       1         208

[636 rows x 3 columns]

In [8]:
match=match.merge(total_score[["total_runs","match_id"]],left_on="id",right_on="match_id")
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,total_runs,match_id
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,207,1
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,184,2
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,183,3
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,163,4
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,157,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN,138,632
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN,158,633
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN,162,634
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN,162,635
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN,208,636

In [9]:
match["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants'],
      dtype=object)

In [10]:
match["team1"]=match["team1"].str.replace('Delhi Daredevils',"Delhi Capitals")
match["team2"]=match["team2"].str.replace('Delhi Daredevils',"Delhi Capitals")
data1["batting_team"]=data1["batting_team"].str.replace('Delhi Daredevils',"Delhi Capitals")
data1["bowling_team"]=data1["bowling_team"].str.replace('Delhi Daredevils',"Delhi Capitals")

In [11]:
match["team1"]=match["team1"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match["team2"]=match["team2"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data1["batting_team"]=data1["batting_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data1["bowling_team"]=data1["bowling_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [12]:
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,total_runs,match_id
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,207,1
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,184,2
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,183,3
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,163,4
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,157,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Capitals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN,138,632
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN,158,633
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN,162,634
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN,162,635
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN,208,636

In [13]:
Teams=['Sunrisers Hyderabad', 'Mumbai Indians', 
        'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals',]

In [14]:
match=match[match["team1"].isin(Teams)]
match=match[match["team2"].isin(Teams)]

In [15]:
match["team2"].unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Rajasthan Royals', 'Chennai Super Kings'], dtype=object)

In [16]:
match=match[match["dl_applied"]==0]

In [17]:
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,total_runs,match_id
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,207,1
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,157,5
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,178,7
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,148,8
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,158,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,628,2016,Raipur,2016-05-20,Sunrisers Hyderabad,Delhi Capitals,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,KK Nair,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN,158,628
630,631,2016,Kolkata,2016-05-22,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,22,0,YK Pathan,Eden Gardens,KN Ananthapadmanabhan,M Erasmus,NaN,171,631
631,632,2016,Raipur,2016-05-22,Delhi Capitals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN,138,632
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN,162,634
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN,208,636

In [18]:
match=match[["match_id","city","total_runs","winner"]]
match

     match_id       city  total_runs                       winner
0           1  Hyderabad         207          Sunrisers Hyderabad
4           5  Bangalore         157  Royal Challengers Bangalore
6           7     Mumbai         178               Mumbai Indians
7           8     Indore         148              Kings XI Punjab
9          10     Mumbai         158               Mumbai Indians
..        ...        ...         ...                          ...
627       628     Raipur         158             Delhi Daredevils
630       631    Kolkata         171        Kolkata Knight Riders
631       632     Raipur         138  Royal Challengers Bangalore
633       634      Delhi         162          Sunrisers Hyderabad
635       636  Bangalore         208          Sunrisers Hyderabad

[509 rows x 4 columns]

In [19]:
data1=data1.merge(match,on="match_id")

In [20]:
data1=data1[data1["inning"]==2]
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,penalty_runs,batsman_runs,extra_runs,total_runs_x,player_dismissed,dismissal_kind,fielder,city,total_runs_y,winner
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,1,0,1,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,2,0,2,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,4,0,4,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,2,0,2,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,CJ Jordan,run out,NV Ojha,Bangalore,208,Sunrisers Hyderabad
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,1,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,1,0,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,4,0,4,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad

In [21]:
data1["total_runs_x"].dtype

dtype('int64')

In [22]:
data1["Current_score"]=data1.groupby("match_id")["total_runs_x"].cumsum()

In [23]:
data1["Runs_left"]=data1["total_runs_y"]-data1["Current_score"]

In [24]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,extra_runs,total_runs_x,player_dismissed,dismissal_kind,fielder,city,total_runs_y,winner,Current_score,Runs_left
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,1,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,2,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,3,204
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,4,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,7,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,2,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,194,14
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,CJ Jordan,run out,NV Ojha,Bangalore,208,Sunrisers Hyderabad,194,14
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,1,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,195,13
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,196,12
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,4,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,200,8

In [25]:
data1["ball_left"]=126-((data1["over"]*6) + (data1["ball"]))

In [26]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,total_runs_x,player_dismissed,dismissal_kind,fielder,city,total_runs_y,winner,Current_score,Runs_left,ball_left
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,1,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,119
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,118
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,117
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,2,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,3,204,116
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,4,NaN,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,7,200,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,2,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,194,14,4
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,CJ Jordan,run out,NV Ojha,Bangalore,208,Sunrisers Hyderabad,194,14,3
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,195,13,2
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,1,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,196,12,1
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,4,NaN,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,200,8,0

# wicket left

In [27]:
data1["player_dismissed"]=data1["player_dismissed"].fillna("0")
data1["player_dismissed"]=data1["player_dismissed"].apply(lambda x: x if x=="0" else "1")
data1["player_dismissed"]=data1["player_dismissed"].astype("int")

In [28]:
wicket=data1.groupby("match_id")["player_dismissed"].cumsum().values

In [29]:
data1["wicket_left"]=10-wicket

In [30]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,player_dismissed,dismissal_kind,fielder,city,total_runs_y,winner,Current_score,Runs_left,ball_left,wicket_left
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,119,10
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,118,10
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,117,10
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,3,204,116,10
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,NaN,NaN,Hyderabad,207,Sunrisers Hyderabad,7,200,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,194,14,4,4
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,1,run out,NV Ojha,Bangalore,208,Sunrisers Hyderabad,194,14,3,3
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,195,13,2,3
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,196,12,1,3
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,NaN,NaN,Bangalore,208,Sunrisers Hyderabad,200,8,0,3

# Current run rate

In [31]:
data1["Current_rr"]=data1["Current_score"]/((120-data1["ball_left"])/6)

# Required run rate

In [32]:
data1["Required_rr"]=data1["Runs_left"]/((data1["ball_left"])/6)

In [33]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,fielder,city,total_runs_y,winner,Current_score,Runs_left,ball_left,wicket_left,Current_rr,Required_rr
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,119,10,6.000000,10.386555
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,118,10,3.000000,10.474576
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,Hyderabad,207,Sunrisers Hyderabad,1,206,117,10,2.000000,10.564103
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,Hyderabad,207,Sunrisers Hyderabad,3,204,116,10,4.500000,10.551724
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,NaN,Hyderabad,207,Sunrisers Hyderabad,7,200,115,10,8.400000,10.434783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,NaN,Bangalore,208,Sunrisers Hyderabad,194,14,4,4,10.034483,21.000000
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,NV Ojha,Bangalore,208,Sunrisers Hyderabad,194,14,3,3,9.948718,28.000000
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,NaN,Bangalore,208,Sunrisers Hyderabad,195,13,2,3,9.915254,39.000000
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,NaN,Bangalore,208,Sunrisers Hyderabad,196,12,1,3,9.882353,72.000000
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,NaN,Bangalore,208,Sunrisers Hyderabad,200,8,0,3,10.000000,inf

# winner

In [34]:
def winner(row):
    return 1 if row["batting_team"] == row["winner"] else 0

In [35]:
data1["result"]=data1.apply(winner,axis=1)

In [36]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,city,total_runs_y,winner,Current_score,Runs_left,ball_left,wicket_left,Current_rr,Required_rr,result
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,119,10,6.000000,10.386555,0
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,118,10,3.000000,10.474576,0
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,117,10,2.000000,10.564103,0
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,3,204,116,10,4.500000,10.551724,0
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,7,200,115,10,8.400000,10.434783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,194,14,4,4,10.034483,21.000000,0
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,194,14,3,3,9.948718,28.000000,0
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,195,13,2,3,9.915254,39.000000,0
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,196,12,1,3,9.882353,72.000000,0
121486,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,200,8,0,3,10.000000,inf,0

In [37]:
data1=data1[data1["ball_left"]!=0]

In [38]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,city,total_runs_y,winner,Current_score,Runs_left,ball_left,wicket_left,Current_rr,Required_rr,result
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,119,10,6.000000,10.386555,0
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,118,10,3.000000,10.474576,0
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,1,206,117,10,2.000000,10.564103,0
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,3,204,116,10,4.500000,10.551724,0
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,Hyderabad,207,Sunrisers Hyderabad,7,200,115,10,8.400000,10.434783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121481,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,1,CJ Jordan,Sachin Baby,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,192,16,5,4,10.017391,19.200000,0
121482,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,194,14,4,4,10.034483,21.000000,0
121483,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,194,14,3,3,9.948718,28.000000,0
121484,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,195,13,2,3,9.915254,39.000000,0
121485,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,Bangalore,208,Sunrisers Hyderabad,196,12,1,3,9.882353,72.000000,0

In [39]:
data1["batting_team"].unique()

array(['Royal Challengers Bangalore', 'Delhi Capitals', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Sunrisers Hyderabad',
       'Rajasthan Royals', 'Chennai Super Kings'], dtype=object)

# Fetching important col

In [40]:
df=data1[["batting_team","bowling_team","city","Runs_left","ball_left","wicket_left","Current_rr","total_runs_y","Required_rr","result"]]

In [41]:
df

,batting_team,bowling_team,city,Runs_left,ball_left,wicket_left,Current_rr,total_runs_y,Required_rr,result
125,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,119,10,6.000000,207,10.386555,0
126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,118,10,3.000000,207,10.474576,0
127,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,206,117,10,2.000000,207,10.564103,0
128,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,204,116,10,4.500000,207,10.551724,0
129,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,200,115,10,8.400000,207,10.434783,0
...,...,...,...,...,...,...,...,...,...,...
121481,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,16,5,4,10.017391,208,19.200000,0
121482,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,14,4,4,10.034483,208,21.000000,0
121483,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,14,3,3,9.948718,208,28.000000,0
121484,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,13,2,3,9.915254,208,39.000000,0
121485,Royal Challengers Bangalore,Sunrisers Hyderabad,Bangalore,12,1,3,9.882353,208,72.000000,0

In [42]:
df=df.sample(frac=1)

In [43]:
df.sample()

,batting_team,bowling_team,city,Runs_left,ball_left,wicket_left,Current_rr,total_runs_y,Required_rr,result
91281,Mumbai Indians,Sunrisers Hyderabad,NaN,116,62,7,5.793103,172,11.225806,0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58505 entries, 27888 to 38174
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   batting_team  58505 non-null  object
 1   bowling_team  58505 non-null  object
 2   city          57675 non-null  object
 3   Runs_left     58505 non-null  int64
 4   ball_left     58505 non-null  int64
 5   wicket_left   58505 non-null  int32
 6   Current_rr    58505 non-null  float64
 7   total_runs_y  58505 non-null  int64
 8   Required_rr   58505 non-null  float64
 9   result        58505 non-null  int64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 4.7+ MB

In [45]:
df.isnull().sum()

batting_team      0
bowling_team      0
city            830
Runs_left         0
ball_left         0
wicket_left       0
Current_rr        0
total_runs_y      0
Required_rr       0
result            0
dtype: int64

In [46]:
df.dropna(inplace=True)

In [47]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [48]:
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test= train_test_split(X,Y,test_size=0.2,random_state=1)

In [49]:
X_train

,batting_team,bowling_team,city,Runs_left,ball_left,wicket_left,Current_rr,total_runs_y,Required_rr
37435,Mumbai Indians,Kolkata Knight Riders,Mumbai,-1,9,7,8.432432,155,-0.666667
19957,Chennai Super Kings,Kings XI Punjab,Mumbai,43,55,9,6.369231,112,4.690909
110388,Mumbai Indians,Chennai Super Kings,Chennai,72,50,8,7.371429,158,8.640000
76635,Sunrisers Hyderabad,Kings XI Punjab,Hyderabad,47,39,7,5.629630,123,7.230769
104058,Sunrisers Hyderabad,Delhi Capitals,Visakhapatnam,158,108,10,4.500000,167,8.777778
...,...,...,...,...,...,...,...,...,...
87008,Royal Challengers Bangalore,Delhi Capitals,Sharjah,83,68,9,7.153846,145,7.323529
61323,Delhi Capitals,Sunrisers Hyderabad,Delhi,130,91,7,5.586207,157,8.571429
64267,Mumbai Indians,Kings XI Punjab,Chandigarh,42,19,6,7.485149,168,13.263158
62069,Delhi Capitals,Mumbai Indians,Mumbai,40,71,8,6.367347,92,3.380282
9567,Rajasthan Royals,Royal Challengers Bangalore,Bangalore,103,95,8,7.680000,135,6.505263

In [50]:
x_test

,batting_team,bowling_team,city,Runs_left,ball_left,wicket_left,Current_rr,total_runs_y,Required_rr
5370,Delhi Capitals,Mumbai Indians,Delhi,147,46,1,5.270270,212,19.173913
59213,Delhi Capitals,Royal Challengers Bangalore,Bangalore,72,36,5,6.071429,157,12.000000
76854,Chennai Super Kings,Kolkata Knight Riders,Kolkata,68,56,7,4.781250,119,7.285714
104823,Royal Challengers Bangalore,Mumbai Indians,Bangalore,153,65,8,6.109091,209,14.123077
90241,Delhi Capitals,Mumbai Indians,Sharjah,125,118,10,0.000000,125,6.355932
...,...,...,...,...,...,...,...,...,...
113990,Chennai Super Kings,Mumbai Indians,Kolkata,172,88,9,5.625000,202,11.727273
14284,Mumbai Indians,Royal Challengers Bangalore,Bangalore,7,33,9,7.931034,122,1.272727
28198,Royal Challengers Bangalore,Mumbai Indians,Port Elizabeth,21,1,3,6.857143,157,126.000000
10732,Mumbai Indians,Kolkata Knight Riders,Kolkata,108,93,7,6.444444,137,6.967742
38642,Kings XI Punjab,Kolkata Knight Riders,Chandigarh,60,17,5,7.165049,183,21.176471

In [51]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([("trf1",OneHotEncoder(sparse=False,drop="first"),["batting_team","bowling_team","city"])],remainder="passthrough")

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe=Pipeline(steps=[("step1",trf),("step2",LogisticRegression())])

In [53]:
pipe.fit(X_train,Y_train)

C:\Users\nanu\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\nanu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf1',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression())])

In [54]:
y_pred=pipe.predict(x_test)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8364109232769831

In [56]:
Teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [57]:
df["city"].unique()

array(['Kimberley', 'Dharamsala', 'Delhi', 'Kolkata', 'Bangalore',
       'Chennai', 'Ranchi', 'Cuttack', 'Mumbai', 'Cape Town', 'Hyderabad',
       'Chandigarh', 'Ahmedabad', 'Jaipur', 'Sharjah', 'Visakhapatnam',
       'Centurion', 'Durban', 'Bloemfontein', 'Indore', 'Abu Dhabi',
       'Pune', 'East London', 'Raipur', 'Port Elizabeth', 'Johannesburg',
       'Nagpur'], dtype=object)

In [58]:
data = np.array([['Delhi Capitals', 'Royal Challengers Bangalore', 'Bangalore', 171, 109, 9, 10.909091, 191, 9.412844]])

In [59]:
input_data=pd.DataFrame(data)

In [60]:
input_data

,0,1,2,3,4,5,6,7,8
0,Delhi Capitals,Royal Challengers Bangalore,Bangalore,171,109,9,10.909091,191,9.412844

In [61]:
x_test

,batting_team,bowling_team,city,Runs_left,ball_left,wicket_left,Current_rr,total_runs_y,Required_rr
5370,Delhi Capitals,Mumbai Indians,Delhi,147,46,1,5.270270,212,19.173913
59213,Delhi Capitals,Royal Challengers Bangalore,Bangalore,72,36,5,6.071429,157,12.000000
76854,Chennai Super Kings,Kolkata Knight Riders,Kolkata,68,56,7,4.781250,119,7.285714
104823,Royal Challengers Bangalore,Mumbai Indians,Bangalore,153,65,8,6.109091,209,14.123077
90241,Delhi Capitals,Mumbai Indians,Sharjah,125,118,10,0.000000,125,6.355932
...,...,...,...,...,...,...,...,...,...
113990,Chennai Super Kings,Mumbai Indians,Kolkata,172,88,9,5.625000,202,11.727273
14284,Mumbai Indians,Royal Challengers Bangalore,Bangalore,7,33,9,7.931034,122,1.272727
28198,Royal Challengers Bangalore,Mumbai Indians,Port Elizabeth,21,1,3,6.857143,157,126.000000
10732,Mumbai Indians,Kolkata Knight Riders,Kolkata,108,93,7,6.444444,137,6.967742
38642,Kings XI Punjab,Kolkata Knight Riders,Chandigarh,60,17,5,7.165049,183,21.176471

In [62]:
data = {
    'batting_team': ['Delhi Capitals'],
    'bowling_team': ['Royal Challengers Bangalore'],
    'city': ['Bangalore'],
    'Runs_left': [171],
    'ball_left': [109],
    'wicket_left': [9],
    'Current_rr': [10.909091],
    'total_runs_y': [191],
    'Required_rr': [9.412844]
}

In [63]:
input_data=pd.DataFrame(data)

In [64]:
pipe.predict(input_data)

array([0], dtype=int64)

In [66]:
import pickle

In [68]:
with open('pipe.pkl', 'wb') as file:
    pickle.dump(pipe, file)